@charset "UTF-8";

@media screen and (min-width: 700px) {
    section#a > p {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    section#a span {
        max-width: 400px;
    }

    section#b > ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 15px;
        max-width: 875px;
        margin: auto;
    }

    section#d {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 35px;
    }
}

